{% load i18n %}{% autoescape off %}
{% blocktrans %}
<p>Hello from Company Name!</p>

<p>You're receiving this e-mail because you have requested a password reset for your Company Name user account.
It can be safely ignored if you did not request a password reset.</p>
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
<a href="{{ protocol }}://{{ domain }}/reset?uid={{ uid }}&token={{ token }}">{{ protocol }}://{{ domain }}/reset?uid={{ uid }}&token={{ token }}</a>
{% endblock %}
{% blocktrans %}
<p>Thanks for using Company Name!</p>
{% endblocktrans %}{% endautoescape %}
