{% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
<h2>Hello from {{ site_name }}!</h2>
<p>You're receiving this e-mail because user {{ user_display }} signed up for {{ site_name }}.<p>
<p>To confirm this is correct, click <a href="{{ activate_url }}">here</a></p>
{% endblocktrans %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<p>Thank you from {{ site_name }}!</p>
<a href="www.{{ site_domain }}">{{ site_domain }}</a>
{% endblocktrans %}{% endautoescape %}
